name={{ item.name }}

{% if item.consumer_id|default(false) %}
&consumer_id={{ item.consumer_id }}
{% endif %}

{% if item.config_parameters|default(false) %}
&{{ item.config_parameters|join('&') }}
{% endif %}
