#!/bin/sh

/usr/bin/logger -t logrotate "sleeping random"
sleep $((1 + RANDOM % 1800))
/usr/bin/logger -t logrotate "finished sleep"

/usr/sbin/logrotate -v -s /var/lib/logrotate/logrotate.status /etc/logrotate.conf >> /var/log/logrotate.log
EXITVALUE=$?
if [ $EXITVALUE != 0 ]; then
    /usr/bin/logger -t logrotate "ALERT exited abnormally with [$EXITVALUE]"
fi
exit 0
