[Unit]
Description=Kong
Requires=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=1
LimitNOFILE={{ kong_max_files_limit }}
PIDFile={{ kong_prefix_dir }}/pids/nginx.pid
ExecStart=/usr/local/bin/kong start --conf {{ kong_conf_dir }}/kong.conf --nginx-conf {{ kong_conf_dir }}/custom-nginx.template
ExecReload=/usr/local/bin/kong reload --conf {{ kong_conf_dir }}/kong.conf --nginx-conf {{ kong_conf_dir }}/custom-nginx.template
ExecStop=/usr/local/bin/kong stop

[Install]
WantedBy=multi-user.target