{{ kong_log_dir }}/*.log {
    {{ kong_logrotate_frequency|default('weekly') }}
    rotate {{ kong_logrotate_rotate|default(5) }}
    missingok
    maxsize {{ kong_logrotate_maxsize|default('500M') }}
    notifempty
    sharedscripts
    compress
    delaycompress
    postrotate
        [ ! -f {{ kong_prefix_dir }}/pids/nginx.pid ] || kill -USR1 $(cat {{ kong_prefix_dir }}/pids/nginx.pid)
    endscript
}
