{# The purpose of this file is to compute a valid json request body #}
{# Note: Why the "if plugin_obj.update()" lines? Looks strange! #}
{#       Ans: A workaround due to "set" tag being limited to local variable scope only. #}
{% set params_to_replace = [ 'service', 'consumer', 'route' ] %}
{% set plugin_obj = {} %}
{% for key, value in kong_plugin_config|dictsort %}
{% if key not in params_to_replace %}
{% if plugin_obj.update({key: value}) %}{% endif %}
{% endif %}
{% endfor %}
{% if service.status|default(false) == 200 %}
{% if plugin_obj.update({'service': {'id':service.json.id}}) %}{% endif %}
{% endif %}
{% if plugin_route_id|default(false) %}
{% if plugin_obj.update({'route': {'id':plugin_route_id}}) %}{% endif %}
{% endif %}
{% if consumer.status|default(false) == 200 %}
{% if plugin_obj.update({'consumer': {'id': consumer.json.id}}) %}{% endif %}
{% endif %}
{{ plugin_obj|to_nice_json }}
