{
    "name": "{{ kong_service_api.name }}",
{% if kong_service_api.request_host|default(false) %}
    "request_host": "{{ kong_service_api.request_host }}",
{% endif %}
{% if kong_service_api.request_path|default(false) %}
    "request_path": "{{ kong_service_api.request_path }}",
{% endif %}
    "preserve_host": {{ kong_service_api.preserve_host|default('false')|lower }},
    "strip_request_path": {{ kong_service_api.strip_request_path|default('false')|lower }},
    "upstream_url": "{{ kong_service_api.upstream_url }}"
}
